@charset "UTF-8";

.l-footer {
    height: 200px;

    display: flex;
    justify-content: center;
}

.l-footer__container {
    width: 1350px;
    min-width: 1250px;
    max-width: 1350px;
    height: 100%;

    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-footer__list {
    width: 100%;

    margin-bottom: 10px;

    display: flex;
    justify-content: space-evenly;
}

.list__footer-item {
    display: flex;
    align-items: center;

    letter-spacing: 1px;

    color: white;
}

.footer-item__link {
    display: flex;
    align-items: center;

    padding: 5px;
    border-bottom: 1px solid transparent;

    color: white;
}

.footer-item__link:hover, .footer-item__link:focus {
    border-bottom: 1px solid white;
}

.link__icon-container {
    display: flex;
    align-items: center;
}

.link__icon-container > svg {
    width: 30px;
    fill: white;
}

.link__midias-container {
    margin-left: 10px;
}

.link__midias-container > p:first-child {
    font-size: .9em;
}

.l-footer__text-container {
    padding-top: 50px;
}

.text-container__text {
    letter-spacing: 1px;
    color: white;
}

@media (max-width: 886px) {
    .l-footer {
        height: 100%;

        margin-bottom: 20px;
    }
    
    .l-footer__container {
        width: 100%;
        min-width: 0px;
    }
    
    .l-footer__list {
        padding-left: 50px;
        display: grid;
    }
    
    .list__footer-item + .list__footer-item {
        margin-top: 20px;
    }
    
    .footer-item__link {
        padding: 0px;
    }

    .l-footer__text-container {
        text-align: center;
    }

    .footer-item__link:hover, .footer-item__link:focus {
        border-bottom: 1px solid transparent;
    }
}
