.l-header {
    width: 100vw;
    height: 110px;

    position: fixed;
    top: 0;
    left: 0;

    padding-top: 30px;

    display: flex;
    justify-content: center;

    z-index: 2;
}

.l-header__menu-container {
    width: 1350px;
    min-width: 900px;
    max-width: 1350px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container__title {
    padding: 5px 10px;
    
    font-size: 1.5em;
    font-family: "fen", sans-serif;

    text-transform: uppercase;
    letter-spacing: 1px;

    cursor: pointer;

    color: #EFB210;
}

.menu-container__title:focus {
    border-bottom: 2px solid #EFB210;
}

.menu-container__title:hover.menu-container__title > span {
    display: inline-block;
    transform: rotateY(360deg);
    
    transition: 1s ease;
}

.menu-container__title > span {
    font-family: "dancing", sans-serif;
}

.menu-container__title > span:last-child {
    margin-left: 5px;
}

.menu-hamb-btn {
    display: none;
}

.navigation__list {
    display: flex;
}

.list__section-item + .list__section-item {
    margin-left: 5px;
}

.section-item__section-link {
    padding: 5px 20px;

    display: inline-block;
    position: relative;

    font-size: 1.2em;
    font-family: 'arcane', sans-serif;

    text-transform: uppercase;
    letter-spacing: 1.5px;

    color: #EFB210;
}

.section-item__section-link::after {
    width: 0;
    height: 1px;

    position: absolute;
    left: 0;
    bottom: 0;

    content: '';
    
    background-color: #EFB210;

    transition: width .3s ease;
}

.section-item__section-link:hover::after, .section-item__section-link:focus::after {
    width: 100%;
}

@font-face {
    font-family: "dancing";
    src: url('../../fonts/dancing-vamp.ttf');
}

@font-face {
    font-family: "fen";
    src: url('../../fonts/Fen-2.ttf');
}

@font-face {
    font-family: "arcane";
    src: url('../../fonts/arcane-nine.otf');
}

@media (max-width: 886px) {
    .l-header {
        padding-top: 0px;
    }
    
    .menu-container__title  {
        font-size: 1em;
    }
    
    .l-header__menu-container {
        /* background-color: red;     */
        padding-right: 50px;
        min-width: 0px;
    }

    .menu-container__navigation {
        
    }

    .menu-hamb-btn {
        display: block;

        position: absolute;
        top: 30px;
        right: 50px;

        cursor: pointer;

        background-color: transparent;

        z-index: 1;
    }

    .menu-hamb-btn > div {
        width: 40px;
        height: 1.5px;

        background-color: #EFB210;
    }

    .menu-hamb-btn > div + div {
        margin-top: 10px;
    }

    .navigation__list {
        width: 200px;
        height: 100vh;

        position: absolute;
        top: 0px;
        right: 0px;

        padding-top: 100px;

        /* display: none; */
        flex-direction: column;
        /* justify-content: center; */

        background-color: black;

        z-index: -1;
    }

    .list__section-item {
        padding: 10px 0px;
        text-align: center;
        font-size: .9em;
        /* background-color: red; */
    }

    .list__section-item + .list__section-item {
        margin-left: 0px;
        margin-top: 40px;
    }
}

/* só aparece a animação do menu quando clico diretamente nas letras / tamanho das letras */