@charset "UTF-8";

.l-home {
    height: 84vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.l-home__container {
    width: 1350px;  
    min-width: 1120px;
    max-width: 1350px;
}

.container__info-container {
    min-width: 1120px;

    padding-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-text-container__info-text {
    margin-bottom: 20px;
    padding-top: 30px;
}

.info-text__text {
    max-width: 750px;
    min-width: 200px;

    font-size: 2.3em;
    font-family: 'cardo', sans-serif;
    line-height: 1.5em;

    color: white;
}

.info-text__text:first-child {
    font-size: 1.3em;
    line-height: 1em;
}

.info-text__text > span {
    color: #EFB210;
}

.button {
    padding: 8px 30px;

    cursor: pointer;
    position: relative;

    font-size: 1em;
    font-family: 'cardo', sans-serif;
    
    text-transform: uppercase;
    letter-spacing: 1px;

    border-top: 1px solid #EFB210;
    border-bottom: 1px solid #EFB210;
    color: #EFB210;
    background-color: transparent;
}

.button:hover, .button:focus {
    border-color: white;
}

.info-project-container__emphasis-container {
    min-width: 100px;
    max-width: 600px;
    height: 319px;

    position: relative;

    border: 1px solid #EFB210;
}

.info-project-container__emphasis-container:hover .emphasis-container__text-container {
    width: 100%;
}

.emphasis-container__media {
    width: 100%;
    height: 100%;
}

.info-project-container__title {
    width: 350px;
    margin-bottom: 20px;

    font-family: 'cardo', sans-serif;
    font-size: 1.2em;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #EFB210;

    cursor: context-menu;
}

.emphasis-container__text-container {
    width: 0%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    color: white;
    background-color: rgba(0, 0, 0, 0.747);

    transition: .3s ease;
}

.text-container__emphasis-text {
    width: 500px;

    font-size: 1.3em;
    font-family: 'cardo', sans-serif;

    letter-spacing: 1px;
    line-height: 1.5em;

    cursor: context-menu;
}

.text-container__emphasis-button-container {
    width: 265px;
    margin-top: 25px;
}

.emphasis-button-container__button {
    padding: 3px 30px;

    font-size: 1em;
    font-family: 'cardo', sans-serif;

    text-transform: uppercase;
    letter-spacing: 1px;

    border-top: 1px solid #EFB210;
    border-bottom: 1px solid #EFB210;
    color: #EFB210;
    background-color: transparent;
}

.emphasis-button-container__button:first-child {
    margin-right: 20px;
}

.emphasis-button-container__button:hover, .emphasis-button-container__button:focus {
    border-color: white;
}

.container__link-container {
    padding-top: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-container__social-list {
    display: flex;
}
.social-list__social-item + .social-list__social-item {
    margin-left: 10px;
}

.social-item__social-link {
    padding: 3px 5px;
    display: inline-block;

    fill: white;
}

.social-item__social-link:hover, .social-item__social-link:focus {
    fill: #EFB210;
}

.social-item__social-link > svg {
    width: 30px;
}

.work-container__work-link {
    font-size: 1.1em;

    display: flex;
    align-items: center;

    letter-spacing: 1px;

    fill: white;
    color: white;
}

.work-container__work-link:hover, .work-container__work-link:focus {
    border-bottom: 1px solid white;
}

.work-link__work-container {
    margin-right: 5px;
}

.work-link__work-container > svg {
    width: 20px;
}

svg {
    width: 35px;
}

@font-face {
    font-family: 'cardo';
    src: url('../../fonts/cardo-regular.ttf');
}

@media (max-width: 886px) {
    .l-home {
        height: 55vh;
        flex-direction: column;

        margin-bottom: 100px;
    }

    .l-home__container {
        min-width: 0px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container__info-container {
        flex-direction: column;
    }

    .info-container__info-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-text__text {
        text-align: center;
        font-size: 1.3em;
    }

    .info-text__text:first-child {
        margin-bottom: 5px;

        font-size: 1em;
        line-height: 1em;
    }

    .button {
        margin: 10px 0px 0px 0px;
        padding: 6px 30px;

        font-size: .8em;
    }

    .info-project-container__emphasis-container  {
        display: none;
    }
    
    .container__link-container {
        padding-top: 0px;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social-item__social-link {
        padding: 10px;
    }

    .social-item__social-link > svg {
        width: 25px;
    }

    .work-container__work-link {
        font-size: 1em
    }

    .work-link__work-container > svg {
        width: 15px;
    }
}
