@charset "UTF-8";

.l-projects {
    height: 550px;

    display: flex;
    justify-content: center;
}

.l-projects__container {
    width: 1350px;
    min-width: 1250px;
    max-width: 1350px;
    height: 100%;

    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__project-title {
    margin-bottom: 50px;

    font-size: 1.6em;
    font-family: 'cardo', sans-serif;
    font-weight: lighter;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: #EFB210;
}

.container__project-slide-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-slide-container__project-card-container {
    width: 1030px;
    height: 430px;

    overflow: hidden;
    position: relative;
}

.container_project-list {
    position: absolute;
    left: 0; /* pular em -350px*/
    top: 0;

    display: flex;

    transition: .5s ease-in;
}

.project-list__card {
    width: 330px;
    height: 430px;

    padding: 15px 10px 0px 10px;

    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #efb31061;
    background-color: black;
}

.project-list__card + .project-list__card {
    margin-left: 20px;
}

.item__project-image-container {
    width: 100%;
    height: 150px;
}

.item__project-image-container > img {
    width: 100%;
    height: 100%;
}

.item__project-text-container {
    margin-top: 20px;

    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.5em;

    color: white;
}
.item__project-button-container {
    margin-top: 30px;
}

.item__project-button-container > a {
    padding: 6px 30px;

    text-transform: uppercase;
    letter-spacing: 1px;

    cursor: pointer;

    border-top: 1px solid #EFB210;
    border-bottom: 1px solid #EFB210;

    color: #EFB210;
    background-color: transparent;
}

.item__project-button-container > a:hover, .item__project-button-container > a:focus {
    border-color: white;
}

.item__project-button-container > a:last-child {
    margin-left: 10px;
}

.project-slide-container__left-btn, .project-slide-container__right-btn {
    padding: 5px;

    cursor: pointer;

    background-color: transparent;
}

.project-slide-container__left-btn:hover svg, .project-slide-container__right-btn:hover svg, .project-slide-container__left-btn:focus svg, .project-slide-container__right-btn:focus svg {
    fill: #EFB210;
}

.project-slide-container__left-btn svg, .project-slide-container__right-btn svg {
    width: 50px;

    fill: white;
}

.project-slide-container__right-btn {
    transform: rotateY(190deg);
}

.container__project-slide-guide {
    margin-top: 20px;

    display: flex;
}

.container__project-slide-guide > div {
    width: 300px;
    height: 2px;

    position: relative;

    background-color: white;
}

.container__project-slide-guide > div > div {
    width: 100px;
    height: 2px;

    position: absolute;
    top: 0;
    left: 0; /* calc(100% - 100px) */

    background-color: #EFB210;
}

@media (max-width: 886px) {
    .l-projects {
        height: 100%;

        margin-bottom: 50px;
    }
    
    .container__project-title {
        margin-bottom: 30px;
        font-size: 1.4em;
    }

    .container__project-slide-container {
        padding-left: 40px;
    }

    .project-list__card {
        width: 280px;
    }

    .project-slide-container__project-card-container {
        width: 325px;
    }

    .item__project-text-container {
        font-size: 1em;
    }

    .item__project-button-container > a {
        font-size: .9em;
    }

    .item__project-button-container > a:hover, .item__project-button-container > a:focus {
        border-color: #EFB210;
    }

    .project-slide-container__left-btn:hover svg, .project-slide-container__right-btn:hover svg, .project-slide-container__left-btn:focus svg, .project-slide-container__right-btn:focus svg {
        fill: white;
    }
}
