@charset "UTF-8";

.l-skills {
    height: 400px;

    display: flex;
    justify-content: center;
}

.l-skills__container {
    width: 1350px;
    min-width: 1250px;
    max-width: 1350px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__skills-title {
    margin-bottom: 50px;

    font-size: 1.6em;
    font-family: 'cardo', sans-serif;
    font-weight: lighter;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: #EFB210;
}

.container__skills-list {
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
}

.skills-list__item {
    text-align: center;
    border-bottom: 1px solid transparent;

    position: relative;
}

.skills-list__item:hover:not(.skills-list__item:last-child) {
    border-bottom: 1px solid white;
}

.skills-list__item:hover:not(.skills-list__item:last-child):after {
    width: 150px;
    padding: 10px;
}

.skills-list__item:hover:nth-child(1)::after {
    content: 'Saiba o que estudei em HTML'
}
.skills-list__item:hover:nth-child(2)::after {
    content: 'Saiba o que estudei em CSS'
}

.skills-list__item:hover:nth-child(3)::after {
    content: 'Saiba o que estudei em JavaScript'
}

.skills-list__item:hover:nth-child(4):after {
    content: 'Saiba o que estudei em GIT'
}

.skills-list__item::after {
    content: '';

    width: 0px;
    height: 30px;

    position: absolute;
    top: 0px;
    left: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'cardo', sans-serif;
    letter-spacing: 1px;

    border-radius: 5px;

    background-color: black;
    color: white;
}

.skills-list__item:nth-child(3):after {
    left: 80%;
}

.skills-list__item > a {
    display: inline-block;
}

.skills-list__item > a:focus {
    border-bottom: 1px solid white;
}

.item__icon-container {
    margin-bottom: 5px;
}

.item__icon-container > svg {
    width: 60px;
}

.item__skill-name {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: white;
}

@media (max-width: 886px) {
    .l-skills {
        height: 100%;

        margin-bottom: 100px;
    }
    
    .l-skills__container {
        min-width: 0px;
    }
    
    .container__skills-title {
        font-size: 1.4em;
    }
    
    .container__skills-list {
        flex-direction: column;
    }

    .skills-list__item + .skills-list__item {
        margin-top: 30px;
    }
}
